.pictures-page{
    min-height: 100vh;
    min-width: 100vw;
    background-image: url("../../public/Assets-and-Screens/Assets/Background.png");
    color: white;
    background-size: cover;
}
.pictures-page h1{
    text-align: center;
    font-size: 3em;
    padding: 2em;
}
.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1em;
}
.image-hold{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: auto auto;
    
}
.image-hold button{
    

}
.upload-img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../public/Assets-and-Screens/Assets/Add_picture.png);
    background-repeat: no-repeat;
    height: 238px;
    width: 421px;
    cursor: pointer;
    margin: auto auto;
    background-size: cover;
}
.image-hold img{
    
    height: 280px;
    width: 280px;
}
#picture-upload{
    display: none;
}